/* importing roboto font fromm google*/
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Roboto&display=swap');

/*style to override all*/
* {
    box-sizing: border-box;
}

/* styles for lis items, naviations and menus*/
li, a, button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    background-color: #9cd8ff;
    color: #0c2134;
}

/* targeting the checklist item and action lists */
ul {
    color: #0c2134;
    list-style: none;
}

ul.checklist-item {
    padding-left: 0; /* Reset the default padding for ul */
    margin-left: 0; /* Reset the default margin for ul */
}

ul.checklist-item li {
    text-align: left;
    padding-left: 20px; /* Add some padding to move the text further to the left */
}

ul.checklist-action li{
    text-align: right;
}

/* styles for the header*/
.header-container {
    display: flex; /*assigns flex container w/ no direction so items go from left to right automatically*/
    align-items: center; /*take all header items and center them in the middle*/
    justify-content: center;
}

.header-right-side,
.header-left-side {
    flex-grow: 1;
}

.header-right-side {
    text-align: center;
    font-size:x-large;
    color: white;
    background-color: #001449;
    border-radius: 10px;
}

.header-left-side {
    display: flex; /*getting the logo to align properly*/
    align-items: center; /*center the logo*/
}

/* logo stylings, and navigation menu links styles - used chatgpt to make this responsive*/
.header-left-logo {
    cursor: pointer; /* when  you hover over the logo it turns into a cursor */
    max-width: 100%; /* Ensures the logo doesn't exceed the container's width */
    height: auto; /* Allows the logo to scale proportionally based on its width */
    max-height: 100px; /* Optionally, you can set a maximum height for the logo */
}

/* main content styling using css grid (woo new learnings!)*/
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-container > .main-left, .main-center, .main-right {
    border: 2px solid #4e4e4e;
    border-radius: 5px;
    background-color: #e3e3e5;
    margin-top: 10px;
    padding: 1em;
    color: #d9480f;
}

.checklist-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
