/* importing roboto font fromm google*/
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Roboto&display=swap');

/*style to override all*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styles for lis items, naviations and menus*/
li, a, button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}